body {
  background-color: white;
  color: #3A3A3A;
  font-size: 16px;
  font-family: sans-serif;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #0802DE;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding: 100px 0px 30px 0px;
}

.container {
  margin: 0 auto;
  width: 37%;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 25px;
  line-height: 1.1;
}

h3 {
  font-size: 1.3em;
  line-height: 1.2;
  padding-bottom: 5px;
}

p {
  line-height: 2;
  padding: 10px 0px 10px 0px;
}

figure {
  padding-bottom: 30px;
}

figcaption {
  font-size: .85em;
}

.author {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: .95em;
}
